.poetry {
  position: relative;

  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    // right: 12px;
    // bottom: 10px;
    // background-image: url('../assets/icons/decortop-left.svg');
    background-image: url('../assets/icons/bouquet.png');
    background-size: cover;
    background-repeat: repeat;
    width: 40px;
    height: 40px;
    transform: rotate(180deg);
  }
}

.img {
  width: 100%;
  max-height: 30%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
