@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap; //самое оптимальное для пользователя при прогрузке шрифтов
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap; //самое оптимальное для пользователя при прогрузке шрифтов
}
@font-face {
  font-family: 'Raleway-Italic';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Raleway-Italic.ttf') format('ttf');
  font-display: swap; //самое оптимальное для пользователя при прогрузке шрифтов
}
@font-face {
  font-family: 'Raleway-Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Raleway-Light.ttf') format('ttf');
  font-display: swap; //самое оптимальное для пользователя при прогрузке шрифтов
}
