.poetry {
    // &::before {
    //   display: inline-block;
    //   position: absolute;
    //   content: '';
    //   // right: 12px;
    //   // bottom: 10px;
    //   // background-image: url('../assets/icons/decortop-left.svg');
    //   background-image: url('../assets/bgr.jpg');
    //   // background-size: cover;
    //   background-repeat: repeat;
    //   // padding: 30px;
    //   // margin: 30px;
    //   width: 100%;
    //   height: 100%;
    //   // transform: rotate(180deg);
    // }

}

.meta {
    min-height: 350px;
    border-bottom: 1px solid #ff9e9e61;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f4ff;
}

.img {
    position: relative;
    // width: 100%;
    // max-height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    // opacity: 0.5;
}

.headline {
    position: absolute;
    top: 9%;
    left: 0%;
    font-size: 50px;
    padding-top: 1px;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 0px 5px 5px 0;
    // background-color: rgb(233, 243, 252);
    padding-left: 20%;
    padding-right: 10px;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0%;
    }
}

@-o-keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@-moz-keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.inner {
    width: 100%;
    padding-top: 30;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.item {
    position: relative;
    // width: calc(33% - 20px);
    // height: 400px;
    padding: 0 15px;
    // background-color: #fff;
    // border-radius: 20px;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.contentBox {
    height: 100%;
    // max-height: 370px;
    overflow-x: hidden;
    padding: 30px;
}

.title {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.whom {
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
}

.text {
    // width: 300px;
    margin-bottom: 10px;
    font-style: italic;
    text-transform: lowercase;
    // text-transform: capitalize;
    text-align: center;
    overflow-y: hidden;
    white-space: pre-wrap;
}

.text:first-letter {
    text-transform: uppercase;
}

.date {
    text-align: right;
}

.text {
    font-size: 20px !important;
}
