.about {
    position: relative;
    padding: 0 0 150px;
    // &::before {
    //   display: inline-block;
    //   position: absolute;
    //   content: '';
    //   // right: 12px;
    //   // bottom: 10px;
    //   // background-image: url('../assets/icons/decortop-left.svg');
    //   background-image: url('../assets/bgr.jpg');
    //   // background-size: cover;
    //   background-repeat: repeat;
    //   // padding: 30px;
    //   // margin: 30px;
    //   width: 100%;
    //   height: 100%;
    //   // transform: rotate(180deg);
    // }
}

.meta {
    min-height: 350px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(233, 243, 252);
}

.title {
    position: absolute;
    top: 0%;
    left: 0;
    font-size: 50px;
    padding-top: 1px;
    text-transform: uppercase;
    // background-color: #ff9e9e61;
    border-radius: 0px 5px 5px 0;
    background-color: rgb(233, 243, 252);
    padding-left: 20%;
    padding-right: 10px;
    animation-name: Appearance;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}

@-webkit-keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0%;
    }
}

@-o-keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@-moz-keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes Appearance {
    0% {
        opacity: 0;
        left: -50%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.imgBg {
    position: relative;
    width: 100%;
    max-width: 471px;
    // padding: 40px;
    // width: 100%;
    // max-height: 100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    // opacity: 0.5;
}

.inner {
    // padding: 50px 0;
    background-color: #f8f8f8;
    // background-color: #f8f8f8;
}

.innerText {
    position: relative;
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &::before {
        display: inline-block;
        position: absolute;
        content: '';
        top: 8%;
        right: 0;
        left: 0;
        background-image: url('../assets/icons/svgdecor.svg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        transform: rotate(-90deg);
        z-index: 0;
        opacity: 0.1;
    }
}

.img {
    margin-top: 40px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    width: calc(50% - 40px);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.text {
    font-size: 18px;
    text-align: justify;
}
