@import '../scss/vars.scss';

.header {
  position: relative;
  // position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
  // box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.img {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 1px;
}

.item {
  position: relative;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.3s;

  &::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background-color: #fff;
    transition: width 0.4s;
  }

  &.active::before {
    width: 100%;
    background-color: #000;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover {
    color: #00d9db;
  }
}

.logoLeft {
  font-size: 30px;
  color: rgb(165, 19, 19);
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  padding-top: 8px;
}

.logoRight {
  font-size: 30px;
  font-family: 'Josefin Slab', serif;
  font-weight: 400;
  color: brown;
  padding-top: 8px;
}
