.about {
  position: relative;
  padding: 75px 0 150px;

  // &::before {
  //   display: inline-block;
  //   position: absolute;
  //   content: '';
  //   // right: 12px;
  //   // bottom: 10px;
  //   // background-image: url('../assets/icons/decortop-left.svg');
  //   background-image: url('../assets/bgr.jpg');
  //   // background-size: cover;
  //   background-repeat: repeat;
  //   // padding: 30px;
  //   // margin: 30px;
  //   width: 100%;
  //   height: 100%;
  //   // transform: rotate(180deg);
  // }
}
.img {
  background-repeat: no-repeat;
  width: 50%;
}
.text {
  font-size: 18px;
  text-align: justify;
}
