.best {
  width: 100%;
  padding: 75px 40px;
  // background-color: #efd3d2;
  background-color: #fff;

  margin-bottom: 200px;
}
.inner {
  width: 100%;
  padding-top: 30;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.item {
  position: relative;
  width: calc(33% - 20px);
  height: 400px;
  padding: 0 15px;
  // background-color: #fff;
  border-radius: 20px;

  &::before {
    display: inline-block;
    position: absolute;
    content: '';
    background-image: url('../assets/icons/decortop-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }
  &::after {
    display: inline-block;
    position: absolute;
    content: '';
    background-image: url('../assets/icons/decortop-left.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
  }
}

.icon {
  width: 40px;
  margin: 0 auto 15px;
}

.topDec {
  position: absolute;
  margin-bottom: -10px;
}

.botDec {
  position: absolute;
  // display: inline-block;
  right: 0;
  margin-top: -10px;
  transform: rotate(180deg);
}

.contentBox {
  height: 100%;
  max-height: 450px;
  padding: 30px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.whom {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.text {
  font-style: italic;
  text-transform: lowercase;
  text-align: justify;
}

// .effect7 {
//   position: relative;
//   -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
//   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
// }
// .effect7:before,
// .effect7:after {
//   content: '';
//   position: absolute;
//   z-index: -1;
//   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
//   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
//   top: 0;
//   bottom: 0;
//   left: 10px;
//   right: 10px;
//   -moz-border-radius: 100px / 10px;
//   border-radius: 100px / 10px;
// }
// .effect7:after {
//   right: 10px;
//   left: auto;
//   -webkit-transform: skew(8deg) rotate(3deg);
//   -moz-transform: skew(8deg) rotate(3deg);
//   -ms-transform: skew(8deg) rotate(3deg);
//   -o-transform: skew(8deg) rotate(3deg);
//   transform: skew(8deg) rotate(3deg);
// }
