.best{
  width: 100%;
}
.inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

.item {
  width: calc(33% - 20px);
}

.text {
  text-transform: lowercase;
}